<main-navbar></main-navbar>
<div>
    <div class="container">
        <h1>חיפושי העבודה שלי</h1>
        <!-- For Function Filter -->
        <input class="form-control my-3" placeholder="סנן לפי שם חברה או תפקיד" ng-model="query">

        <table class="table" ng-hide="filteredApplies.length === 0">
            <thead>
                <tr>
                    <th>#</th>
                    <th ng-click="orderByProp('company')">שם החברה/כ"א</th>
                    <th ng-click="orderByProp('title')">תפקיד</th>
                    <th ng-click="orderByProp('location')">מיקום</th>
                    <th ng-click="orderByProp('status')">סטאטוס</th>
                </tr>
            </thead>
            <tbody>
                </tr>
                <tr ng-repeat="apply in applies | filter : filterApply | orderBy : orderProp : orderReverse as filteredApplies"
                    ng-click="onSelectApply(apply)">
                    <td>{{$index + 1}}</td>
                    <td>{{apply.company}}</td>
                    <td>{{apply.title}}</td>
                    <td>{{apply.location}}</td>
                    <td>{{getStatus(apply.status)}}</td>
                </tr>
            </tbody>
        </table>
        <p class="text-center" ng-show="filteredApplies.length === 0">אין פניות מתאימות לסינון הנבחר</p>
        <button class="btn btn-primary mr-auto" ng-click="openNewApplyModal()">פנייה חדשה</button>

        <div class="my-pie" ng-if="applies">
            <canvas id="pie" class="chart chart-pie" chart-data="getChartData()" chart-labels="labels" chart-options="options" chart-colors="colors"            >
            </canvas>
        </div>
    </div>
</div>