<!-- Modal -->
<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">צור פנייה חדשה</h5>
        <button type="button" class="close" aria-label="Close" ng-click="cancelNewApply()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group row">
                <label for="name" class="col-sm-2 col-form-label"> חברה</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="company" placeholder="הכנס/י שם חברה" ng-model="company">
                </div>
            </div>
            <div class="form-group row">
                <label for="desc" class="col-sm-2 col-form-label"> תפקיד</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="title" placeholder="הכנס/י תפקיד" ng-model="title">
                </div>
            </div>
            <div class="form-group row">
                <label for="name" class="col-sm-2 col-form-label"> מיקום</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="location" placeholder="הכנס/י מיקום משרה" ng-model="location">
                </div>
            </div>
            <div class="form-group row">
                <!-- Split dropleft button -->
                <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <label class="input-group-text" for="inputGroupSelect01">מצב פניה</label>
                        </div>
                        <select class="custom-select" id="status" ng-model="value">
                          <!-- <option selected>בחר/י</option> -->
                          <option value="1">פנייה במייל</option>
                          <option value="2">מוזמן לראיון</option>
                          <option value="3">לא מתאים</option>
                          <option value="4">מרכז הערכה</option>
                          <option value="5">מתאים</option>
                          <option value="6">תקן הוקפא</option>
                        </select>
                      </div>
            </div>
        </form>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" ng-click="cancelNewApply()">סגור</button>
        <button type="button" class="btn btn-primary" ng-click="addApply()">שמור</button>
    </div>
    <div class="alert alert-danger" role="alert" ng-show="invalidApply">
        <strong>הזנת פנייה שגויה!</strong> יש למלא שם חברה, תפקיד וסטאטוס!!!
    </div>
</div>