body {
    direction: rtl;
    text-align: right;
  }
.english-direction {
    direction: ltr;
    text-align: left;
  }
form{
    width:60%;
    margin: auto;   
  }
 
  body, html {
    height: 100%;
  }
  .bg {
    background-image: url("https://images.unsplash.com/photo-1432888498266-38ffec3eaf0a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1053&q=80");
  }

  .bgmain {
    background-image: url("https://cdn.pixabay.com/photo/2016/12/18/10/21/application-1915348_960_720.jpg");
  }

  .bgTips{
    background-image: url("https://images.unsplash.com/photo-1486312338219-ce68d2c6f44d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1052&q=80");
  }

  .bg , .bgmain , .bgTips{
   /* Full height */
   height: 100%;
  
   /* Center and scale the image nicely */
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
  }

  .my-pie {
    width: 70%;
    margin: auto;
  }

  .notifications{
    /* background-color:red; */
    color: red !important;
  }

.nav-item{
  font-size: 1.5em;
}

.navbar-brand{
  font-size: 1.5em;
  font-weight: bold;
}

.applies{
  font-size: 1.2em;
}
 